

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

input {
  caret-color: var(--font-offwhite);
  caret-shape: 1em;
  border: 2px solid var(--font-offwhite);
  border-radius: 3px;
  background-color: var(--brand-color);
  color: var(--font-offwhite);
  font-size: var( --paragraph---p1---medium);
}

input:focus,
input:active {
  outline: none;
}

input:focus-visible,
input:hover {
  outline: -webkit-focus-ring-color auto 1px;
  outline-offset: 1px
}

img:hover {
  background: -webkit-focus-ring-color;
}

/* ACCESSIBILITY */

ul li:focus-visible {
  outline: -webkit-focus-ring-color auto 1px;
  outline-offset: 1px;
}
