
.SidedrawerMenuMain {
    display: flex;
    gap: 5px;
    margin-top: 10px;
}

.SidedrawerMenuMain p {
    color: var(--font-offwhite);
    font-size: var(--heading---h1---regular);
    font-weight: 100;
}

.SidedrawerMenuMain > *:nth-child(1) {
    margin-top: 5px;
}

.SidedrawerMenuMain > *:nth-child(3) {
    margin-top: 3px;
}