
.SearchMain {
    margin-top: -20px;
    padding: 8px 40px;
}

.SearchMain img {
    position: relative;
    top: 30px;
    left: 8px;
}

.SearchMain .Search {
    background-color: var(--brand-color);
    height: 35px;
    width: 220px;
    padding-left: 30px;
}

@media screen and (max-width: 800px) {
    .SearchMain {
        margin-top: 0px;
    }
    .SearchMain img {
        top: 3px;
        left: 25px;
    }  
}

@media screen and (min-width: 1390px) {
    .SearchMain {
        margin-top: 0px;
    }
    .SearchMain img {
        top: 3px;
        left: 25px;
    }  
}
